:root{
--primary:#14b8a6;
--secondary:#0f172a;
--dark:#020617;
--card:#111827;
--light:#f8fafc;
--text:#cbd5e1;
--white:#ffffff;
--border:rgba(255,255,255,.08);
}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
scroll-behavior:smooth;
}

body{
background:var(--dark);
color:var(--white);
overflow-x:hidden;
line-height:1.7;
}

.container{
width:min
